.category_content_nam1{
    text-align: left !important;
    width: 40%;
}

.category_image_nam1{
    width: 60%;
}

.ul_margin{
    margin: 30px 0px 30px !important;
}

.soukuban{
    height: 350px !important;
}

.ul_margin{
    left: -30 ;
    position: relative;
}